@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        --thickness: 8px;
        --stickLimbSize: 70px;
        @apply bg-violet-50 dark:bg-neutral-900;
    }

    .line {
        @apply bg-black dark:bg-neutral-300;
    }

    .vertical-line {
        /* @apply ; */
        width: var(--thickness);
    }
    .horizontal-line {
        /* @apply ; */
        height: var(--thickness);
    }

    .stick-head {
        --headSize: 50px;
        width: var(--headSize)!important;
        height: var(--headSize);
        border: var(--thickness) solid;
        @apply rounded-full border-neutral-300;
    }

    .stick-body {
        @apply h-20 mx-auto;
    }

    .stick-limb {
        width: var(--stickLimbSize);
    }

    .stick-rh {
        @apply rotate-[-45deg] translate-y-[-80px] translate-x-[25px];
    }
    .stick-lh {
        @apply rotate-[45deg] translate-y-[-72px] translate-x-[-25px];
    }
    .stick-rl {
        @apply rotate-[60deg] translate-y-0 translate-x-[17px];
    }
    .stick-ll {
        @apply rotate-[-60deg] translate-y-2 translate-x-[-17px];
    }

    .keyboard {
        @apply flex flex-col items-center gap-3;
    }

    .keyboard > div {
        @apply flex gap-3;
    }

    .key {
        @apply
        border-violet-500 bg-violet-300 text-violet-300 
        dark:border-neutral-300 dark:bg-violet-900
        hover:bg-violet-400 hover:cursor-pointer active:bg-violet-500
          border rounded py-2 w-20 font-medium text-2xl text-center
    }

    .disabled {
        @apply pointer-events-none bg-violet-500 text-violet-900
    }
}